<a href="https://colab.research.google.com/github/MatiasRuizSilva/Python-for-Data-Science/blob/main/Estructura_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [192]:
import pandas as pd

In [193]:
data = [1,2,3,4,5]

In [194]:
s= pd.Series(data)

In [195]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [196]:
index = ['Linea' + str(i) for i in range(5)]
index

['Linea0', 'Linea1', 'Linea2', 'Linea3', 'Linea4']

In [197]:
s= pd.Series(data = data, index = index)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [198]:
data = {'Linea'+ str(i) : i + 1 for i in range(5)}
data

{'Linea0': 1, 'Linea1': 2, 'Linea2': 3, 'Linea3': 4, 'Linea4': 5}

In [199]:
s = pd.Series(data)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [200]:
s1 = s + 2
s1

Linea0    3
Linea1    4
Linea2    5
Linea3    6
Linea4    7
dtype: int64

In [201]:
s2 = s1 +s
s2

Linea0     4
Linea1     6
Linea2     8
Linea3    10
Linea4    12
dtype: int64

In [202]:
datos = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(datos, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [203]:
datos = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(datos)
df

   A  B
X  1  2
Y  3  4

### DataFrame

In [204]:
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [205]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [206]:
index = ['Linea' + str(i) for i in range(3)] 
index

['Linea0', 'Linea1', 'Linea2']

In [207]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
Linea0  1  2  3
Linea1  4  5  6
Linea2  7  8  9

In [208]:
columns = ['Columna' + str(i) for i in range(3)] 
columns

['Columna0', 'Columna1', 'Columna2']

In [209]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [210]:
data = {'Columna0': {'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
  'Columnal': {'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
  'Columna2': {'Linea0': 3, 'Linea1': 6, 'Linea2': 9}}
data

{'Columna0': {'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
 'Columnal': {'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
 'Columna2': {'Linea0': 3, 'Linea1': 6, 'Linea2': 9}}

In [211]:
df2 = pd.DataFrame(data)
df2

        Columna0  Columnal  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [212]:
data2 = [(1,2,3),(4,5,6),(7,8,9)]
data2

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [213]:
df3 = pd.DataFrame(data = data2, index = index, columns = columns)
df3

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [214]:
df1[df1>0] = 'A'
df1

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A

In [215]:
df2[df2>0] = 'B'
df2

       Columna0 Columnal Columna2
Linea0        B        B        B
Linea1        B        B        B
Linea2        B        B        B

In [216]:
df3[df3>0] = 'C'
df3

       Columna0 Columna1 Columna2
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [225]:
df4 = pd.concat([df3,df2,df1])
df4

       Columna0 Columna1 Columna2 Columnal
Linea0        C        C        C      NaN
Linea1        C        C        C      NaN
Linea2        C        C        C      NaN
Linea0        B      NaN        B        B
Linea1        B      NaN        B        B
Linea2        B      NaN        B        B
Linea0        A        A        A      NaN
Linea1        A        A        A      NaN
Linea2        A        A        A      NaN

In [224]:
df5 = pd.concat([df1,df2,df3], axis = 1)
df5

,Columna0,Columna1,Columna2,Columna0,Columnal,Columna2,Columna0,Columna1,Columna2
Linea0,A,A,A,B,B,B,C,C,C
Linea1,A,A,A,B,B,B,C,C,C
Linea2,A,A,A,B,B,B,C,C,C