<a href="https://colab.research.google.com/github/MatiasRuizSilva/Python-for-Data-Science/blob/main/Inmersion_en_Datos_Clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Primer encuentro de inmersion de datos

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
inmuebles = pd.read_csv('/content/drive/MyDrive/inmuebles_bogota.csv')
inmuebles.head()

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [5]:
inmuebles.shape

(9520, 8)

In [6]:
inmuebles.columns

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Baños', 'Área', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

In [7]:
columnas = {'Baños':'Banos','Área':'Area'}
inmuebles = inmuebles.rename(columns = columnas)
inmuebles.sample(10)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
9017,Apartamento,Apartamento en venta en Suba,3,2,80,Suba,Suba,$ 286.000.000
123,Apartamento,Apartamento en venta en Usaquén,3,2,100,Usaquén,Usaquén,$ 610.000.000
5222,Apartamento,Apartamento en venta en Zona Noroccidental,3,4,135,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 680.000.000
4913,Casa,Casa en venta en Modelia,5,4,320,Modelia,Fontibón,$ 750.000.000
2922,Apartamento,Apartamento en venta en Fontibón,2,2,52,Fontibón,Fontibón,$ 150.000.000
176,Apartamento,Apartamento en venta en Usaquén,3,4,100,Usaquén,Usaquén,$ 730.000.000
8366,Apartamento,Apartamento en venta en Usaquén,4,6,400,Usaquén,Usaquén,$ 2.500.000.000
8059,Casa,Casa en venta en Suba,4,2,100,Suba,Suba,$ 355.000.000
6678,Apartamento,Apartamento en venta en Zona Noroccidental,3,4,98,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 601.000.000
9361,Casa,Casa en venta en Puente Aranda,4,2,230,Puente Aranda,PUENTE ARANDA: Zona Industrial + Puente Aranda,$ 650.000.000

In [8]:
inmuebles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Banos         9520 non-null   int64
 4   Area          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB