<a href="https://colab.research.google.com/github/MatiasRuizSilva/Python-for-Data-Science/blob/main/Inmersion_en_Datos_Clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Primer encuentro de inmersion de datos

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
inmuebles = pd.read_csv('/content/drive/MyDrive/inmuebles_bogota.csv')
inmuebles.head()

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [4]:
inmuebles.shape

(9520, 8)

In [5]:
inmuebles.columns

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Baños', 'Área', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

In [6]:
columnas = {'Baños':'Banos','Área':'Area'}
inmuebles = inmuebles.rename(columns = columnas)
inmuebles.sample(10)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
8194,Casa,Casa en venta en Suba,5,5,88,Suba,Suba,$ 600.000.000
2671,Apartamento,Apartamento en venta en Kennedy,4,3,115,Kennedy,Kennedy Central,$ 540.000.000
2179,Apartamento,Apartamento en venta en Fontibón,3,3,84,Fontibón,Fontibón,$ 338.000.000
8511,Apartamento,Apartamento en venta en Quinta Camacho,2,2,102,Quinta Camacho,CHAPINERO: Chicó Lago + El Refugio,$ 320.000.000
1942,Apartamento,Apartamento en venta en Zona Noroccidental,1,1,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 415.000.000
7327,Apartamento,Apartamento en venta en Zona Noroccidental,3,1,52,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 162.000.000
4011,Apartamento,Apartamento en venta en Chapinero,2,2,76,Chapinero,CHAPINERO: Pardo Rubio + Chapinero,$ 482.000.000
5320,Apartamento,Apartamento en venta en Bosa,3,1,47,Bosa,Bosa Central,$ 129.000.000
1815,Apartamento,Apartamento en venta en Usaquén,2,3,150,Usaquén,Usaquén,$ 650.000.000
7223,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,61,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 245.000.000

In [7]:
inmuebles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Banos         9520 non-null   int64
 4   Area          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB

In [8]:
(inmuebles.Barrio == 'Chico Reservado')

0       False
1       False
2        True
3       False
4       False
        ...
9515    False
9516    False
9517    False
9518    False
9519    False
Name: Barrio, Length: 9520, dtype: bool

In [10]:
sum((inmuebles.Barrio == 'Chico Reservado'))

225

In [9]:
inmuebles_chico = (inmuebles.Barrio == 'Chico Reservado')
type(inmuebles_chico)

pandas.core.series.Series

In [11]:
chico_reservado = inmuebles[inmuebles_chico]
chico_reservado

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
39,Apartamento,Apartamento en venta en Chico Reservado,1,1,64,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 495.000.000
72,Apartamento,Apartamento en venta en Chico Reservado,1,1,64,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 495.000.000
126,Apartamento,Apartamento en venta en Chico Reservado,3,4,150,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.300.000.000
143,Apartamento,Apartamento en venta en Chico Reservado,2,4,104,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.100.000.000
...,...,...,...,...,...,...,...,...
9299,Apartamento,Apartamento en venta en Chico Reservado,3,3,148,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 780.000.000
9335,Apartamento,Apartamento en venta en Chico Reservado,3,3,176,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 850.000.000
9341,Apartamento,Apartamento en venta en Chico Reservado,2,3,118,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 700.000.000
9472,Apartamento,Apartamento en venta en Chico Reservado,3,1,49,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 200.000.000
9506,Apartamento,Apartamento en venta en Chico Reservado,3,4,390,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 3.200.000.000

In [12]:
chico_reservado.Area.mean()

142.78666666666666

In [13]:
len(inmuebles.Barrio.value_counts())

149

In [ ]:
len(inmuebles.Barrio.value_counts())