<a href="https://colab.research.google.com/github/MatiasRuizSilva/Python-for-Data-Science/blob/main/Selecciones_y_Frecuencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Reporte de Analisis IV

##Selecciones y Frecuencias

In [5]:
import pandas as pd

In [6]:
datos = pd.read_csv('alquiler.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [7]:
#Seleccione la cantidad de inmuebles de tipo 'Departamento'

In [8]:
seleccion = datos['Tipo'] == 'Departamento'
n1 = datos[seleccion].shape[0]
n1

19532

In [9]:
#Seleccione los inmuebles de tipo 'Casa', 'Casa en Condominio' y 'Casa de Villa'

In [10]:
seleccion = (datos['Tipo'] == 'Casa')|(datos['Tipo'] == 'Casa en condominio')|(datos['Tipo'] == 'Casa de villa')
n2 = datos[seleccion].shape[0]
n2

2212

In [11]:
#Seleccione los inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites

In [12]:
seleccion = (datos['Area']>=60) & (datos['Area']<=100)
n3 = datos[seleccion].shape[0]
n3

10187

In [13]:
#Seleccione los inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00

In [14]:
seleccion = (datos['Cuartos']>=4) & (datos['Valor']<2000)
n4 = datos[seleccion].shape[0]
n4

43

In [15]:
print ('N° de inmuebles tipo Departamento -> {}'.format(n1))
print ('N° de inmuebles de tipo "Casa", "Casa en condominio" y "Casa de Villa" -> {}'.format(n2))
print ('N° de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites -> {}'.format(n3))
print ('N° de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00 -> {}'.format(n4))

N° de inmuebles tipo Departamento -> 19532
N° de inmuebles de tipo "Casa", "Casa en condominio" y "Casa de Villa" -> 2212
N° de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites -> 10187
N° de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00 -> 43

In [16]:
alumnos = pd.DataFrame({
'Nombre': ['Ary', 'Katia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
'Edad': [15, 27, 56, 32, 42, 21, 19, 35], 
'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
'Aprobado': [True, False, False, True, True, True, False, False]},
columns = ['Nombre', 'Edad', 'Sexo', 'Notas', 'Aprobado'])

In [17]:
alumnos

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
1   Katia    27    F    2.5     False
2   Denis    56    M    5.0     False
3    Beto    32    M   10.0      True
4   Bruna    42    F    8.2      True
5    Dara    21    F    7.0      True
6  Carlos    19    M    6.0     False
7   Alice    35    F    5.6     False

In [18]:
'l1 l2 l3 l4'.split()

['l1', 'l2', 'l3', 'l4']

In [19]:
data = [(1,2,3,4),(5,6,7,8),(9,10,11,12),(13,14,15,16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split()) 
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [20]:
df['c1']

l1     1
l2     5
l3     9
l4    13
Name: c1, dtype: int64

In [21]:
type(df['c1'])

pandas.core.series.Series

In [22]:
df[['c3', 'c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   9
l4  15  13

In [23]:
type(df[['c3', 'c1']])

pandas.core.frame.DataFrame

In [24]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [25]:
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   9  10  11  12

In [26]:
df[1:][['c3','c1']]

    c3  c1
l2   7   5
l3  11   9
l4  15  13

In [27]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [28]:
df.loc['l3']

c1     9
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [29]:
df.loc[['l3', 'l2']]

    c1  c2  c3  c4
l3   9  10  11  12
l2   5   6   7   8

In [30]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [31]:
df.loc['l1', 'c2']

2

In [32]:
df.iloc[0, 1]

2

In [34]:
df.loc[['l3','l1'],['c4','c1']]

    c4  c1
l3  12   9
l1   4   1

In [35]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [39]:
df.iloc[[2,0],[3,0]]

    c4  c1
l3  12   9
l1   4   1