<a href="https://colab.research.google.com/github/MatiasRuizSilva/Python-for-Data-Science/blob/main/Selecciones_y_Frecuencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Reporte de Analisis IV

##Selecciones y Frecuencias

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('alquiler.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [ ]:
#Seleccione la cantidad de inmuebles de tipo 'Departamento'

In [6]:
seleccion = datos['Tipo'] == 'Departamento'
n1 = datos[seleccion].shape[0]
n1

19532

In [7]:
#Seleccione los inmuebles de tipo 'Casa', 'Casa en Condominio' y 'Casa de Villa'

In [9]:
seleccion = (datos['Tipo'] == 'Casa')|(datos['Tipo'] == 'Casa en condominio')|(datos['Tipo'] == 'Casa de villa')
n2 = datos[seleccion].shape[0]
n2

2212

In [ ]:
#Seleccione los inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites

In [10]:
seleccion = (datos['Area']>=60) & (datos['Area']<=100)
n3 = datos[seleccion].shape[0]
n3

10187

In [ ]:
#Seleccione los inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00

In [13]:
seleccion = (datos['Cuartos']>=4) & (datos['Valor']<2000)
n4 = datos[seleccion].shape[0]
n4

43

In [16]:
print ('N° de inmuebles tipo Departamento -> {}'.format(n1))
print ('N° de inmuebles de tipo "Casa", "Casa en condominio" y "Casa de Villa" -> {}'.format(n2))
print ('N° de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites -> {}'.format(n3))
print ('N° de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00 -> {}'.format(n4))

N° de inmuebles tipo Departamento -> 19532
N° de inmuebles de tipo "Casa", "Casa en condominio" y "Casa de Villa" -> 2212
N° de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites -> 10187
N° de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00 -> 43