<a href="https://colab.research.google.com/github/MatiasRuizSilva/Python-for-Data-Science/blob/main/Selecciones_y_Frecuencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Reporte de Analisis IV

##Selecciones y Frecuencias

In [5]:
import pandas as pd

In [6]:
datos = pd.read_csv('alquiler.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [7]:
#Seleccione la cantidad de inmuebles de tipo 'Departamento'

In [8]:
seleccion = datos['Tipo'] == 'Departamento'
n1 = datos[seleccion].shape[0]
n1

19532

In [9]:
#Seleccione los inmuebles de tipo 'Casa', 'Casa en Condominio' y 'Casa de Villa'

In [10]:
seleccion = (datos['Tipo'] == 'Casa')|(datos['Tipo'] == 'Casa en condominio')|(datos['Tipo'] == 'Casa de villa')
n2 = datos[seleccion].shape[0]
n2

2212

In [11]:
#Seleccione los inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites

In [12]:
seleccion = (datos['Area']>=60) & (datos['Area']<=100)
n3 = datos[seleccion].shape[0]
n3

10187

In [13]:
#Seleccione los inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00

In [14]:
seleccion = (datos['Cuartos']>=4) & (datos['Valor']<2000)
n4 = datos[seleccion].shape[0]
n4

43

In [15]:
print ('N° de inmuebles tipo Departamento -> {}'.format(n1))
print ('N° de inmuebles de tipo "Casa", "Casa en condominio" y "Casa de Villa" -> {}'.format(n2))
print ('N° de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites -> {}'.format(n3))
print ('N° de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00 -> {}'.format(n4))

N° de inmuebles tipo Departamento -> 19532
N° de inmuebles de tipo "Casa", "Casa en condominio" y "Casa de Villa" -> 2212
N° de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites -> 10187
N° de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00 -> 43

In [16]:
alumnos = pd.DataFrame({
'Nombre': ['Ary', 'Katia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
'Edad': [15, 27, 56, 32, 42, 21, 19, 35], 
'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
'Aprobado': [True, False, False, True, True, True, False, False]},
columns = ['Nombre', 'Edad', 'Sexo', 'Notas', 'Aprobado'])

In [17]:
alumnos

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
1   Katia    27    F    2.5     False
2   Denis    56    M    5.0     False
3    Beto    32    M   10.0      True
4   Bruna    42    F    8.2      True
5    Dara    21    F    7.0      True
6  Carlos    19    M    6.0     False
7   Alice    35    F    5.6     False

In [18]:
'l1 l2 l3 l4'.split()

['l1', 'l2', 'l3', 'l4']

In [19]:
data = [(1,2,3,4),(5,6,7,8),(9,10,11,12),(13,14,15,16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split()) 
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [20]:
df['c1']

l1     1
l2     5
l3     9
l4    13
Name: c1, dtype: int64

In [21]:
type(df['c1'])

pandas.core.series.Series

In [22]:
df[['c3', 'c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   9
l4  15  13

In [23]:
type(df[['c3', 'c1']])

pandas.core.frame.DataFrame

In [24]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [25]:
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   9  10  11  12

In [26]:
df[1:][['c3','c1']]

    c3  c1
l2   7   5
l3  11   9
l4  15  13

In [27]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [28]:
df.loc['l3']

c1     9
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [29]:
df.loc[['l3', 'l2']]

    c1  c2  c3  c4
l3   9  10  11  12
l2   5   6   7   8

In [30]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [31]:
df.loc['l1', 'c2']

2

In [32]:
df.iloc[0, 1]

2

In [34]:
df.loc[['l3','l1'],['c4','c1']]

    c4  c1
l3  12   9
l1   4   1

In [35]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [39]:
df.iloc[[2,0],[3,0]]

    c4  c1
l3  12   9
l1   4   1

#Tratamiento de Datos Faltantes

In [43]:
datos = pd.read_csv('alquiler.csv', sep = ';') 
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [44]:
datos.isnull()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
32955,False,False,False,False,False,False,False,False,False
32956,False,False,False,False,False,False,False,False,False
32957,False,False,False,False,False,False,False,False,False
32958,False,False,False,False,False,False,False,False,True
32959,False,False,False,False,False,False,False,False,False

In [45]:
datos.notnull()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,False,False
2,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...
32955,True,True,True,True,True,True,True,True,True
32956,True,True,True,True,True,True,True,True,True
32957,True,True,True,True,True,True,True,True,True
32958,True,True,True,True,True,True,True,True,False
32959,True,True,True,True,True,True,True,True,True

In [46]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           32960 non-null  object
 1   Distrito       32960 non-null  object
 2   Cuartos        32960 non-null  int64
 3   Vacantes       32960 non-null  int64
 4   Suites         32960 non-null  int64
 5   Area           32960 non-null  int64
 6   Valor          32943 non-null  float64
 7   Mantenimiento  28867 non-null  float64
 8   Impuesto       22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [49]:
datos[datos['Valor'].isnull()]

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
76,Departamento,Ate,2,1,1,70,NaN,970.0,68.0
2186,Departamento,San Bartolo,2,0,0,75,NaN,878.0,NaN
2456,Casa,Lince,3,4,3,363,NaN,NaN,NaN
2646,Tienda/Salón,Ate,0,2,0,80,NaN,NaN,NaN
2941,Departamento,Chorrillos,2,0,0,95,NaN,1010.0,170.0
2973,Departamento,San Borja,2,0,0,72,NaN,850.0,NaN
6598,Tienda/Salón,La Punta,0,0,0,326,NaN,NaN,1140.0
7302,Casa,Lince,3,2,1,100,NaN,NaN,NaN
12683,Departamento,San Bartolo,2,0,1,75,NaN,878.0,NaN
13229,Departamento,La Punta,3,0,1,135,NaN,910.0,228.0
13525,Departamento,La Perla,3,1,1,105,NaN,880.0,221.0
13579,Local comercial,Chorrillos,0,3,0,200,NaN,10.0,NaN
20948,Local comercial,Callao,0,1,0,24,NaN,500.0,74.0
21822,Tienda en Centro Comercial,Ate,0,2,0,77,NaN,3600.0,1390.0
23056,Local comercial,Chorrillos,0,0,0,900,NaN,10.0,NaN
24805,Local comercial,Chorrillos,0,0,0,500,NaN,10.0,NaN
29166,Local comercial,Chorrillos,0,1,0,50,NaN,10.0,NaN

In [51]:
a = datos.shape[0]
datos.dropna(subset = ['Valor'], inplace = True)
b = datos.shape[0]
a - b

17

In [52]:
datos[datos['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Distrito, Cuartos, Vacantes, Suites, Area, Valor, Mantenimiento, Impuesto]
Index: []

##Tratamiento de Datos Faltantes (Continuacion)

In [53]:
datos[datos['Mantenimiento'].isnull()].shape[0]

4089

In [54]:
seleccion = (datos['Mantenimiento'].isnull()) & (datos['Tipo'] == 'Departamento')

In [55]:
a = datos.shape[0]
datos = datos[~seleccion]
b = datos.shape[0]
a - b

745

In [57]:
datos[datos['Mantenimiento'].isnull()].shape[0]

3344

In [58]:
datos = datos.fillna({'Mantenimiento':0,'Impuesto':0})

In [59]:
datos[datos['Mantenimiento'].isnull()].shape[0]

0

In [60]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32198 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           32198 non-null  object
 1   Distrito       32198 non-null  object
 2   Cuartos        32198 non-null  int64
 3   Vacantes       32198 non-null  int64
 4   Suites         32198 non-null  int64
 5   Area           32198 non-null  int64
 6   Valor          32198 non-null  float64
 7   Mantenimiento  32198 non-null  float64
 8   Impuesto       32198 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.5+ MB

In [62]:
datos.to_csv('Alquiler_residencial.csv', sep = ';', index = False)

In [63]:
inmuebles = pd.DataFrame([['Departamento', None, 970, 68], 
                        ['Departamento', 2000, 878, 112], 
                        ['Casa', 5000, None, 500], 
                        ['Departamento', None, 1010, 170], 
                        ['Departamento', 1500, 850, None], 
                        ['Casa', None, None, None], 
                        ['Departamento', 2000, 878, None], 
                        ['Departamento', 1550, None, 228], 
                        ['Departamento', 2500, 880, 195]], 
                        columns = ['Tipo', 'Valor', 'Mantenimiento', 'Impuesto'])
inmuebles

           Tipo   Valor  Mantenimiento  Impuesto
0  Departamento     NaN          970.0      68.0
1  Departamento  2000.0          878.0     112.0
2          Casa  5000.0            NaN     500.0
3  Departamento     NaN         1010.0     170.0
4  Departamento  1500.0          850.0       NaN
5          Casa     NaN            NaN       NaN
6  Departamento  2000.0          878.0       NaN
7  Departamento  1550.0            NaN     228.0
8  Departamento  2500.0          880.0     195.0

In [64]:
inmuebles.dropna(subset = ['Valor'], inplace = True)
inmuebles

           Tipo   Valor  Mantenimiento  Impuesto
1  Departamento  2000.0          878.0     112.0
2          Casa  5000.0            NaN     500.0
4  Departamento  1500.0          850.0       NaN
6  Departamento  2000.0          878.0       NaN
7  Departamento  1550.0            NaN     228.0
8  Departamento  2500.0          880.0     195.0

In [68]:
seleccion = (inmuebles['Tipo'] == 'Departamento') & (inmuebles['Mantenimiento'].notnull())
inmuebles= inmuebles[seleccion]
inmuebles

Empty DataFrame
Columns: [Tipo, Valor, Mantenimiento, Impuesto]
Index: []